body{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.landingPage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
#contactbg{
    background: url(../images/image2.JPG) no-repeat;
    background-size: cover;
}
.nav{
    z-index: 2;
    position: absolute;
    height: 70px;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.3); */
    width: 100%;
}
.menu{
    position: absolute;
    /* right: 120px; */
}
.menu a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
    transition: color 0.3s;
    text-transform: lowercase;
}
.menu a:hover{
    color: #b9b9b9;
}
.desc{
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.nama{
    margin: 0px;
    font-size: 80px;
    font-weight: bold;
}
.shortDesc a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    margin-left: 20px;
}
.about{
    height: 200vh;
    display: flex;
    background-color: rgba(50, 105, 51, 0.77);
}
.about-title{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0!important;
}
.sectionTitle{
    font-size: 60px;
    color: white;
    font-weight: bold;
}
.about-page{
    width: 50%;
}
.about-page div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.about-page div> p{
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}
.gambar{
    z-index: 2;
    width: 300px;
    height: 200px;
    background: url(../images/art2.jpg) no-repeat;
    background-size: contain; 
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projects{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.projectTitle{
    z-index: 2;
    /* color: rgba(99, 47, 47, 0.9); */
    color: #fff;
    font-weight: bold;
    font-size: 60px;

}
.cardi{
    z-index: 2;
    position: relative;
    background: #fff;
    width: 400px;
    height: 500px;
    margin: 50px auto;
}
.cardi .content{ 
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
}
.cardi .content a{
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #262626;
    color: #262626;
    font-weight: 600;
}
.butn{
    background: none;
    border: 2px solid #000;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    padding: 8px 10px;
    min-width: 150px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}
.butn:hover{
    color: #fff;
}
.butn:hover::before{
    transform: scaleX(1);
}
.butn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaleX(0);
}
.cardi .sliderContent{ 
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/movieweb.png);
    background-size: contain;
}
#compfestbg{
    background: url(../images/compfestweb.png);
    background-size: contain;
}
#jumpbg{
    background: url(../images/plattygame.png);
    background-size: cover;
}
#ligtarbg{
    background: url(../images/ligtar.png);
    background-size: cover;
}
.swiper-slide{
    width: 400px;
}
.contactMe{
    height: 100vh;
    display: flex;
    background-color: rgba(99, 47, 47, 0.9);
}
.contact-title{
    width: 50%;
    height: 100vh;
    padding: 10%!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0!important;
}
.contact-page{
    width: 50%;
}
.contact-page div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    /* transform: translateY(20px);
    transition: 0.5s all ease-in-out; */
}
/* .head-appear{
    opacity: 1;
    transform: translateY(0px);
} */
.availnow{
    font-size: 18px;
}
.header{
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    font-weight: bold;
}
.profile{
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ul{
    margin: 0;
    padding: 0;
}
.social li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.social li a{
    color: black;
    text-decoration: none;
    font-size: 35px;
    transition: all ease-in-out 250ms;
}
.social li a:hover{
    color: #b9b9b9;
}
.bottom{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: white;
    font-size: 60px;

}
.kotak{
    z-index: 2;
    width: 850px;
    border-radius: 15%;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    margin: auto;
    margin-top: 10%;
    color: white;
    font-family: 'Poppins', sans-serif;
}


@media (max-width: 950px){
    .kotak{
        margin-top: 15%;
        width: 500px;
    }
    .about{
        height: 300vh;
        flex-direction: column;

    }
    .about-title{
        width: 100%;
    }
    .about-page{
        width: 100%;
    }
    .contactMe{
        height: 200vh;
        flex-direction: column;
    }
    .contact-page{
        width: 100%;
    }
    .contact-title{
        width: 100%;
    }
}

@media (max-width: 700px){
    .desc{
        margin-left: 20px;
    }
    .shortDesc a{
        margin-left: 0;
    }

}
@media (max-width:600px ){
    .kotak{
        margin-top: 15%;
        width: 320px;
        height: 400px;
    }
    .menu a{
        font-size: 18px;
    }
}

@media (max-width: 500px){
    .desc{
        margin-left: 10px;
    }
    .nama{
        font-size: 60px;
    }
    .shortDesc a{
        font-size: 20px;
    }
    .menu a{
        font-size: 15px;
        margin-left: 15px;
    }
}

@media (max-width: 400px){
    .nama{
        font-size: 40px;
    }
    .shortDesc a{
        font-size: 16px;
    }
    .menu a{
        font-size: 15px;
        margin-left: 10px;
    }
}

@media (max-width: 350px){
    .kotak{
        margin-top: 25%;
        width: 280px;
        height: 400px;
    }
    .nama{
        font-size: 25px;
    }
    .shortDesc a{
        font-size: 14px;
    }

    
}