<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Jadwal Kegiatan</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- materialize css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- materialize js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- let the browser know website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>


    <div class="container">
        <blockquote>
            <h3 class="">Jadwal~</h1>
        </blockquote>
    </div>

    <form action="{% url 'schedulelist:submit' %}" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="input-field col s8 m6 l6">
                    <input type="text" name="kegiatan" id="keg" class="validate" required>
                    <label for="keg">Nama Kegiatan</label>
                </div>
                <div class="input-field col s4 m6 l4">
                    <input type="text" name="kategori" id="kata" class="validate" required>
                    <label for="kata">Kategori</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l4 ">
                    <input type="text" name="tempat" id="tpt" class="validate" required>
                    <label for="tpt">Tempat Kegiatan</label>
                </div>
                <div class="input-field col s3 m3 l2">
                    <input type="text" placeholder="Tanggal" class="datepicker" name="tanggal" required>
                </div>
                <div class="input-field col s3 m3 l2">
                    <input type="text" placeholder="Jam" class="timepicker" name="waktu" required>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <button class="btn waves-effect waves-light" type="submit" value="tambah">Tambah
                        <i class="material-icons right">send</i>
                    </button>

                </div>
            </div>
        </div>
    </form>

    <div class="divider"></div>

    {% for items in Kegiatan %}
    <div class="container">
        <form action="{% url 'schedulelist:delete' items.id %}" method="POST">
            {% csrf_token %}
            <div class="card-panel hoverable">
                <div class="card-content">
                    <span class="card-title">
                        <h5><strong>{{ items }}</strong><span class="new badge light-blue"
                                data-badge-caption="">{{ items.kategori }}</span></h5>
                    </span>
                    <p><i class="tiny material-icons">home</i> {{ items.tempat}}</p>
                    <p><i class="tiny material-icons">alarm</i> {{ items.tanggal}} {{ items.waktu }}</p>
                </div>
                <div class="card-action">
                    <button class="btn waves-effect waves-light red lighten-1" type="submit" name="action"
                        value="delete">Delete
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% endfor %}

    <script>
        const Calender = document.querySelectorAll('.datepicker');
        const Jam = document.querySelectorAll('.timepicker');
        M.Datepicker.init(Calender, {
            format: 'yyyy-mm-dd',
            showClearBtn: true,
            i18n: {
                done: 'tambah',
                clear: 'hapus',
            }
        });
        M.Timepicker.init(Jam, {
            showClearBtn: true,
            i18n: {
                clear: 'hapus',
                done: 'tambah',
                cancel: 'cancel',
            }
        });
    </script>

</body>

</html>